.App,
.dark-mode{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Georgia", serif;
  transition: background-color 0.3s, color 0.3s;
}

input,
.dark-mode input {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #007bff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  background-color: #fff;
  color: #000;
}

button,
.dark-mode button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.result {
  margin-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 5px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.result p {
  margin: 5px 0;
  font-size: 18px;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode input {
  background-color: #333;
  color: #fff;
}

.dark-mode button {
  background-color: #210b9c;
  color: white;
}

.dark-mode .result {
  background-color: #333;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.4);
}